{% extends 'files/base.html' %}
{% load static %}

{% block title %}Researvation{% endblock %}
{% block content %}
      <section class="container mb-5">
        <hr />

        <div class="breadcrumb">
          <p class="fs-6">
            <span
              ><a href="#" class="text-decoration-none text-secondary"
                >Home</a
              ></span
            ><span>&nbsp; <i class="bi bi-chevron-left"></i> &nbsp;</span
            ><span>Account</span>
          </p>
        </div>

        <div class="account">
          <div class="row">
            <div class="create-acc col-md-6 my-2">
              <div class="rounded-4 border border-1 py-3 px-4">
                <div>
                  <h1 class="fs-4 fw-bold text-center">Create account</h1>
                  <hr />
                </div>
                <div>
                  <form action="" method="get">
                    <div class="my-2">
                      <label for="fname" class="my-2"
                        >Enter your firstName:
                      </label>
                      <input
                        class="main-input px-3 py-2 rounded-3"
                        type="text"
                        id="fname"
                        name="fname"
                        placeholder="Name"
                      />
                    </div>
                    <div class="my-2">
                      <label for="lname" class="my-2">
                        Enter your lastName:
                      </label>
                      <input
                        class="main-input px-3 py-2 rounded-3"
                        type="text"
                        id="lname"
                        name="lname"
                        placeholder="lastName"
                      />
                    </div>
                    <div class="my-2">
                      <label for="email" class="my-2">Enter your email:</label>
                      <input
                        class="main-input px-3 py-2 rounded-3"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="email"
                      />
                    </div>
                    <div class="my-2">
                      <label for="pass" class="my-2">
                        Enter your password:
                      </label>
                      <input
                        class="main-input px-3 py-2 rounded-3"
                        type="password"
                        id="pass"
                        name="pass"
                        placeholder="password"
                      />
                    </div>
                    <div class="my-4">
                      <button class="btn main-btn text-white w-100">
                        Sign up
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="login-acc col-md-6 my-2">
              <div class="rounded-4 border border-1 py-3 px-4">
                <div>
                  <h1 class="fs-4 fw-bold text-center">
                    Login to your account
                  </h1>
                  <hr />
                </div>
                <div>
                  <form action="" method="get">
                    <div class="my-2">
                      <label for="email" class="my-2">
                        Enter your email:
                      </label>
                      <input
                        class="main-input px-3 py-2 rounded-3"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="email"
                      />
                    </div>
                    <div class="my-2">
                      <label for="pass" class="my-2">
                        Enter your password:
                      </label>
                      <input
                        class="main-input px-3 py-2 rounded-3"
                        type="password"
                        id="pass"
                        name="pass"
                        placeholder="password"
                      />
                    </div>
                    <div class="my-4">
                      <button class="btn main-btn text-white w-100">
                        Login
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Content end -->

{% endblock %}